.total {
  font-weight: bold;
  color: #4db6ac;
}

.categoria-container {
  max-width: 900px;
  margin: 40px auto;
  background: #fffdf0;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  font-family: 'Quicksand', 'Segoe UI', sans-serif; 
  border: 2px solid #e0f2f1;
}

.categoria-container h2 {
  text-align: center;
  color: #00897b; 
  margin: 10pt;
  font-size: 20pt;
}

.categoria-form {
  background: #e0f2f1;
  padding: 20px;
  border-radius: 14px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 15pt;
  font-weight: 600;
  margin-bottom: 6px;
  color: #5d4037; 
}

.form-group input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #b2dfdb;
  font-size: 15pt;
  background: white;
  width: 80%;
}

.form-group input:focus {
  border-color: #4db6ac;
  outline: none;
  box-shadow: 0 0 5px rgba(77, 182, 172, 0.3);
}

.form-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background: linear-gradient(135deg, #9fe9e2, #26a69a);
  color: white;
}

.btn-secondary {
  background: #cfd8dc;
  color: #546e7a;
}

.categoria-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 12px;
  overflow: hidden; /* Para que las esquinas de la tabla sean redondeadas */
}

.categoria-table th {
  background: #4db6ac;
  color: white;
  padding: 15px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.categoria-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #f1f8f7;
  color: #444;
}

.categoria-table tr:hover {
  background: #f1fbf9;
}

.btn-edit {
  background-color: #0288d1;
  color: white;
}

.btn-edit:hover {
  background-color: white;
  color: #0288d1;
  border: 1px solid #0288d1;
}

.btn-delete {
  background-color: #ef5350;
  color: white;
}

.btn-delete:hover {
  background-color: white;  
  color: #ef5350;
  border: 1px solid #ef5350;
}

/* Efecto al hacer click */
.btn:active {
  transform: scale(0.95);
}

.input-wrapper i {
  position: absolute;
  left: 12px;
  color: #4db6ac;
}

h2 > i, th > i, label > i, button > i {
  margin-right: 6px;
  color: #00897b;
}
hr {
  border: 0;
  height: 5px;
  background: #b2dfdb;
  margin: 30px 0;
}